@import url(../App.css);

/*==================================================================*/
/*============================* projects *===========================*/
/*==================================================================*/
.projects__wrapper {
  height: auto;
}

.projects__wrapper .project {
  width: 80%;
  height: auto;
  min-height: 70vh;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  text-align: center;

  color: var(--clr-black);
  border-radius: var(--radius);
  background: var(--clr-white);
}

.project__content {
  margin: 0 auto;
  width: 90%;
  height: 70%;
  display: flex;
  flex-flow: row nowrap;
}

.project h3,
.project h4 {
  color: #9cc7e7;
}

.project__content-img {
  width: 50%;
  overflow: hidden;
}

.project__content-img img {
  border: solid 1px #9cc7e7;
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.project__content-script {
  width: 50%;
  line-height: 150%;
  padding: 1rem;
  text-align: justify;
}

@media screen and (max-width: 960px) {
  .project__content {
    flex-direction: column;
  }
  .projects__wrapper .project {
    width: 100%;
  }
  .project__content-img {
    width: 100%;
  }
  .project__content-script {
    width: 100%;
  }
}
