:root{
    --text-color:
    --accent-color
}
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: #fff;
}

.navbar__logo i{
    color: #d49456;
}

.navbar__menu{
    display: flex;
    list-style:none;
}

.navbar__menu li{
    padding: 8px 12px;
}

.navbar__menu li:hover{
    background-color: #d49456;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: #fff;
    display: flex;
}

.navbar__icons li{
    padding: 8px 12px;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49456;
}

@media screen and (max-width: 760px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display: none;

        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li{
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;

        width: 100%;
        justify-content: center;
    }

    .navbar__toogleBtn{
        display:block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display:flex;
    }
}
